.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url(../../img/BackAsk.jpg) no-repeat center center;
    background-size:cover;
}

.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(27, 15, 0, 0.6);
}

.title, .comment{
    color: var(--primary-text);
}
.title{
    font-weight: 500;
    font-size: 2.5rem;
}
.comment{
    text-align: center;
}
.subContiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.divForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.5rem;
}

.fomatElement1, .fomatElement2, .fomatElement3{
    padding: 0.7rem;
    border-radius: 0.3rem;
}

.fomatElement1, .fomatElement2{
    width: 48.6%;
}

.nameGmail{
    display: flex;
    justify-content: space-between;
}