@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  --primary-color: #101010;
  --primary-text: #FFFFFF;
  --secondary-color: #F7F7F7;
  --secondary-text: #000000;
  --terciary-color: #FFC107;
  --terciary-text: #FFFFFF;
  color: var(--secondary-text);
}